/* Test comment */
body {
    margin: 25px;
    background-color: #a2d9dd;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.logo {
    display: block;
    max-width: 250px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.btn-group button {
    border-radius: 25px;
    text-align: center;
    background-color: white; /* Green background */
    border: 1px solid royalblue; /* Green border */
    color: black; /* White text */
    padding: 5px 15px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */

}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: royalblue;
}

/**{*/
    /*background-color: #fff;*/
/*}*/

div{
    width: 90%;
    margin: 10px auto;
}

h1{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: .05em
}

p{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    /*-moz-font-smoothing: antialiased !important;*/
    text-rendering: optimizelegibility !important;
    letter-spacing: .03em;
    color: #777;
    font-size: 16px;
    font-family: "Roboto", Arial;
    line-height: 1.25em;
    padding: 0 0 1em 0;
    text-align: justify;
}

.hide {
    display: none;
}

/*#one p{*/
    /*color: #777;*/
    /*font-size: 16px;*/
    /*font-family: "Roboto", Arial;*/
    /*line-height: 1.25em;*/
    /*padding: 0 0 1em 0;*/
    /*text-align: justify;*/
/*}*/

/*#two p{*/
    /*color: #333;*/
    /*padding: 0 0 1em 0;*/
    /*font-weight: 400;*/
    /*font-size: 1rem;*/
    /*line-height: 1.8;*/
    /*text-align: justify;*/
/*}*/